main section article {
  padding: 110px 0;
  margin : 0 auto;
}

article .one-content h1 {
  font-size: 50px;
  color: #FF4081;
  font-weight: 500;
  text-align: center;
}

article .one-content p {
  color: #9D9D9D;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding-top: 10px;
}

article .two-content div {
  text-align: center;
}

article .two-content img{
  text-align: center;
  padding: 70px 0;
}

article .two-content p{
  color: #000;
  font-size: 18px;
  font-weight: 300;
  padding-top: 20px;
}

article .two-content h3{
  color: #419488;
  font-size: 26px;
  font-weight: 400;
  padding-top: 60px;
}


main .content-article {
  display: flex;
  justify-content: space-between;
}

main section.light-gray {
  background-color: #F6F6F6;
  padding: 80px 0;
}

main section.light-gray h3 {
  color: #FF4081;
  font-size: 25px;
  font-weight: 700;
  padding-top: 45px;
}

main section.light-gray p.space {
  color: #000;
  font-size: 17px;
  font-weight: 300;
  padding: 25px 30px 50px 30px;
}

main section .start-now a{
  color: #FFF;
  font-size: 20px;
  padding: 15px 50px;
  background-color: #FF4081;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 25px;
  transition: all .5s;
}

main section .start-now a:hover{
  background-color: #FF1565;
}

.content-article article {
  text-align: center;
}

.content-article article img{
  height: 272px;
}

.light-gray div h2 {
  font-size: 50px;
  color: #FF4081;
  font-weight: 400;
  text-align: center;
}

/* RESPONSIVE DISPLAYS */

/* MOBILE */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  main section article {
    padding: 40px 20px;
  }
  article .one-content h1 {
    font-size: 35px;
  }
  article .one-content p {
    font-size: 16px;
  }
  article .two-content img {
    width: 100%;
    padding: 40px 0;
  }
  article .two-content p {
    font-size: 16px;
    line-height: 22px;
    padding-top: 15px;
  }


  /* TWO SECTION */
  main section.light-gray {
    padding: 50px 20px;
  }
  main .content-article {
    flex-direction: column;
  }
  .content-article article img {
    height: 200px;
  }
  .content-article article:nth-child(2) {
    padding: 80px 0 80px 0;
  }
  main section.light-gray h3{
    padding-top: 20px;
  }
  main section.light-gray p.space {
    padding: 20px 0 40px 0;
  }
  main section .start-now a {
    font-size: 16px;
    padding: 10px 55px;
  }
}

/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  main section article {
    padding: 40px 20px;
  }
  article .one-content p {
    font-size: 16px;
  }
  article .two-content img {
    width: 100%;
    padding: 40px 0;
  }
  article .two-content p {
    font-size: 16px;
    line-height: 22px;
    padding-top: 15px;
  }



  /* TWO SECTION */
  main section.light-gray {
    padding: 40px 20px;
  }
  main .content-article {
    flex-direction: column;
  }
  .content-article article:nth-child(2) {
    padding: 80px 0;
  }
  .content-article article img {
    height: 200px;
  }
  main section .start-now a {
    font-size: 16px;
    padding: 10px 20px;
  }
}

/* LAPTOP */
@media only screen and (min-width: 769px) and (max-width: 1279px) {
  main section article {
    padding: 40px 20px;
  }
  article .two-content img {
    width: 100%;
  }

  /* TWO SECTION */
  main section.light-gray {
    padding: 40px 20px 60px 20px;
  }
  .content-article article img {
    height: 200px;
  }
  main section.light-gray h3 {
    font-size: 22px;
    paddint-top: 20px;
  }
  main section.light-gray p.space {
    font-size: 14px;
    padding: 15px 10px 30px 10px;
  }
  main section .start-now a {
    font-size: 14px;
    padding: 15px 25px;
  }
  
}